<ion-view view-title="Account" hide-back-button="true">
  <!-- 
    #IMPLEMENTATION-DETAIL;
    all view content is wrapped in a form in order to be able to leverage
    angular 'form' directive in all the view.
    #TIP: The form must have a "name" property set for using angular validation.
  -->
  <form name="accountForm">
  
  <!-- main content -->
  <ion-content>
    
    <!-- <div class=" text-center padding">ion-person
        <img class="avatar-account" ng-src="{{user.avatar}}">
    </div> -->
    <h3 class="white-color text-center sans-pro-light icon-text">
          <!--for Ionic--><br>
          <!-- Account Info -->
          <i class="ion-person" style="font-size:4em;"></i>
      </h3>
    
    <!-- form fields -->
    <!-- 
      #IMPLEMENTATION-DETAIL:
      ng-readonly is set on each field and bound to $scope.readonly
    -->
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="text" ng-model="accountUser.email" name="email" ng-readonly="readonly" required>
    </label>
    <label class="item item-input">
      <span class="input-label">Name</span>
      <input type="text" ng-model="accountUser.name" name="name" ng-readonly="readonly" required>
    </label>
    <label class="item item-input">
      <span class="input-label">Phone</span>
      <input type="text" ng-model="accountUser.phone" name="phone" ng-readonly="readonly" required>
    </label>
    <!-- <label class="item item-input">
      <span class="input-label">Address</span>
      <input type="text" ng-model="accountUser.address" name="address" ng-readonly="readonly" required>
    </label>
    <label class="item item-input">
      <span class="input-label">City</span>
      <input type="text" ng-model="accountUser.city" name="city" ng-readonly="readonly" required>
    </label>
    <label class="item item-input">
      <span class="input-label">ZIP</span>
      <input type="text" ng-model="accountUser.zip" name="zip code" ng-readonly="readonly" required>
    </label> -->

    <!-- this leverages angular form directive to show up in case of errors-->
    <div class="item assertive item-text-wrap text-center" ng-if="accountForm.$invalid">
      Please fill in all info
    </div>

  </ion-content>

  <!-- footer bar -->
    <!--
      #IMPLEMENTATION-DETAIL:
      we switch footer bar when editing form data
    -->
  <ion-footer-bar class="bar bar-positive" ng-click="startEdit()" ng-if="readonly">
    <h2 class="title">Edit info</h2>
    <button ng-show="!readonly" class="button button-assertive" ng-click="saveEdit()" ng-disabled="accountForm.$invalid">Save changes</button>
  </ion-footer-bar>

  <ion-footer-bar class="bar bar-positive" ng-if="!readonly">
    <button ng-if="!readonly" class="button button-positive profile-cancel-btn" ng-click="cancelEdit()">Cancel editing</button>
    <h2 class="title"> </h2>
    <!--
      #IMPLEMENTATION-DETAIL:
      ng-disable disable the button in case of invalid form, leveraging form validation
    -->
    <button ng-show="!readonly" class="button button-energized profile-save-btn" ng-click="saveEdit()" ng-disabled="accountForm.$invalid">Save changes</button>
  </ion-footer-bar>
  
  </form>

</ion-view>
