<ion-view view-title="FAQ">  
  <ion-nav-buttons side="right"></ion-nav-buttons>    
  <ion-content class="text-left padding-topside faq" has-header="true">    
    <!-- <p class="text-left info-header"><strong>Order History</strong></p> -->    
      <article>        
        <p>
          <strong><u>1</u> . What is “SITI SHERA PUJO” app ?</strong>
       </p>
       <p>
        Ans: “Siti Durgotsav” app is an application where Kolkata city’s prominent 27 Durga Pujas are being
        showcased. (Through this app you get next time)
       </p>
       <p>
          a: Details of all Top 27 Durga Pujas of Kolkata City.
       </p>
       <p>
          b: You get to vote for your favorite ‘Durga Puja Pandal’.
       </p>
       <p>
          <strong><u>2</u>. Is Registration Compulsory ?</strong>
       </p>
       <p>
        Ans: Yes, registration is compulsory. Once you download the app, you have to register with your mobile number or Email id or Facebook &amp; then you can proceed.
       </p>
       <p>
          <strong><u>3</u>. How do I create my account ?</strong>
       </p>
       <p>
        Ans: It’s a simple process to create your account. Simply click on the “Create Account” button, then enter your email address or Mobile Number and a password of your choice.
       </p>
       <p>
          <strong><u>4</u>. Is road map of these 27 Pujas available ?</strong>
       </p>
       <p>
        Ans: Yes, it will start from the anywhere in the city and will lead you to the particular puja, you want to Hop-on.
       </p>
       <p>
          <strong><u>5</u>. Can we Vote for our Favourite Puja ?</strong> 
       </p>
       <p>
        Ans: Yes, you can vote through a single Mobile # &amp; IMEI Number to all the puja committees or any 2/3 puja committee- once only.
       </p>
       <p>
          <strong><u>6</u>. Can we see the Voting result?</strong> 
       </p>
       <p>
        Ans: Yes.
       </p>
       <p>
          <strong><u>7</u>. Why only these 27 Pujas ?</strong> 
       </p>
       <p>
        Ans: These pujas have been keeping in chosen mind the Theme, Artist, Location &amp; Footfall.
       </p>
       <p>
          <strong><u>8</u>. How to get this app ?</strong> 
       </p>
       <p>
        Ans: You can download this app from Android (Playstore) and IOS (Apps Store).
       </p>
       <p>
          <u>
               kindly give us your valuable input/Suggestion to better our SITI SHERA
               PUJO APP
           </u> .
       </p>
      </article>          
  </ion-content>   
</ion-view>