<!-- 
  #IMPLEMENTATION-DETAIL:
  this view is our top one and uses ion-side-menus component.
  In case of views where we want to hide the menu, we'll hide the 
  navigation bar provided here.
  #TIP: enable-menu-with-back-views="true" is set to true to show the menu opening control in all views by default.
-->
<ion-side-menus enable-menu-with-back-views="true">
  
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <!-- #TIP: <ion-nav-back-button> is commented out in this example,
        uncomment if you need a back button in some views.
      -->

      <ion-nav-back-button >
      </ion-nav-back-button>
      
      <ion-nav-buttons side="left" >
        <button class="white-color button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      
      <!-- <ion-nav-buttons side="right">
        <span ui-sref="app.cart">
          <button class="button button-clear icon ion-android-cart white-color">
            
          </button>
          <span ng-show="cart.products.length" class="cart-badge ng-hide">{{cart.products.length}}</span>
        </span>
      </ion-nav-buttons> -->
    </ion-nav-bar>
    
    <ion-nav-view name="menuContent" class="slide-left-right"></ion-nav-view>
  
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!--
      #IMPLEMENTATION-DETAIL:
      we are using our custom bar classes here
      see scss/themed.scss for implementation.
    -->
    <ion-header-bar class="bar-deepblue-reverse bar-deepblue-borderbottom">
    </ion-header-bar>
  
    <ion-content>
      <ion-list class="menu">
        <!-- #TIP: 
          Menu items are wrapped In the following <ion-list>. 
          Each one has attribute "menu-close" set in order to automatically close side menu on click 
        -->        
        <ion-item ng-show="user.picture" menu-close href="#/app/account" class="item-menu-avatar text-center">
          <img ng-src="{{user.picture}}" class="avatar-menu">
        </ion-item>
        <ion-item menu-close class="menu-positive text-center" href="#/app/account">
          Welcome, <b>{{user.name}}</b> !!
        </ion-item>
        <!-- <ion-item menu-close href="#/app/feed">
          Feed
        </ion-item>
        <ion-item menu-close href="#/app/shop">
          Shop
        </ion-item> -->
        <ion-item menu-close href="#/app/home">
        <i class="icon ion-home"></i> Home
        </ion-item>
        <!-- <ion-item menu-close href="#/app/cart">
        <i class="icon ion-android-cart"></i> My Cart
        </ion-item> -->
        <!-- <ion-item menu-close href="#/app/orders">
          <i class="icon ion-card"></i> My Orders
        </ion-item> -->
        <!-- <ion-item menu-close href="#/app/shop">
          <i class="icon ion-cash"></i> My Pending Amount
        </ion-item> -->
        <!-- <ion-item menu-close href="#/app/checkout/offline">
          <i class="icon ion-card"></i> Offline payment counter
        </ion-item> -->
        <ion-item menu-close href="#/app/voteResults">
          <i class="icon ion-android-list"></i> Vote Results
        </ion-item>
        <ion-item menu-close href="#/app/contact">
          <i class="icon ion-android-contact"></i> Contact Us
        </ion-item> 
        <ion-item menu-close href="#/app/faq">
          <i class="icon ion-help-circled"></i> FAQ
        </ion-item>
        <ion-item menu-close href="javascript:void(0);" ng-click="logout()">
          <i class="icon ion-unlocked"></i> Logout
        </ion-item>
        <!-- <ion-item menu-close href="#/app/shop">
          <i class="icon ion-card"></i> My e-passes
        </ion-item> -->
      </ion-list>
    </ion-content>
    
    <!-- 
      #IMPLEMENTATION-DETAIL:
      we choose to put a "logout" button in the footer of side menu.
      the "logout" method in contained in "AppCtrl" controller (see controllers.js)
    -->
    <!-- <ion-footer-bar class="bar-positive">
      <button class="button button-clear white-color" ng-click="logout()" menu-close>Logout</button>
    </ion-footer-bar> -->
  
  </ion-side-menu>
</ion-side-menus>