<ion-view view-title="Browse Puja">
   
  <ion-nav-buttons side="right">
        <span class="imageBtn">        
          <img src="img/YouTube-logo-full_color.png" style="width:100px" onclick="window.open('https://www.youtube.com/channel/UC8DHQBp64RiGPziLaU3CY9A', '_blank','location=no');"/>        
        </span>
      </ion-nav-buttons>

  <ion-content>

    <div ng-repeat="product in products" id="productList">  
      
      <div class="item item-image" style="position:relative;">
        <img lowsrc="img/placeholder.png" ng-src="{{product.PujaImageURL}}" ui-sref="app.pujaDetail({productId: product.PujaID})">
        <!-- <h1 class="title white-color sans-pro-light">{{product.PujaName}}</h1> -->
        <!-- <button class="button button-positive product-price" ng-click="addProduct(product)">
            <p class="white-color product-price-price">Rs. <b>{{product.PujaPassPrice}}</b></p>
            <p class="white-color product-price-text">
                <i class="ion-android-cart"></i> <span>Add to Cart</span>
            </p>  
        </button> -->
        <div class="voteBtnWrapper"> 
            <button ng-disabled="product.PujaVote" class="button button-positive voteButton" id="puja_{{product.PujaID}}" ng-click="saveVote('{{product.PujaID}}')">Vote</button>    
        </div>
      </div>      
        <!-- <div class="item ui-gradient-deepblue">
          <h1 class="title white-color sans-pro-light">{{product.PujaName}}</h1>
        </div> -->

        <!-- <div class="row">
           <div class="col col-67"> -->
            <div class="row">
              <span class="feature pujaname" style="font-size:15px">{{product.PujaName}}</span>
              <!-- <span class="col col-20 text-right price">&#8377; {{product.PujaPassPrice}}</span> -->
            </div>
            <!--<div class="row">
              <span class="feature positive"><small class="positive">{{product.PujaFeatures}}</small></span>
            -->
              <!-- <span class="col col-20 text-right price">&#8377; {{product.PujaPassPrice}}</span> -->
            <!--</div>-->
            <div class="row">
              <span class="feature positive"><small class="positive">{{product.PujaDescription}}</small></span>
              <!-- <span class="col col-20 text-right price">&#8377; {{product.PujaPassPrice}}</span> -->
            </div>
          <!-- </div> -->
          <!-- <div class="col col-33">
              <div class="row">
                <button ng-disabled="product.PujaVote" class="button button-positive voteButton" id="puja_{{product.PujaID}}" ng-click="saveVote('{{product.PujaID}}')">Vote</button>
            </div>
          </div> 
        </div> -->
        <!-- <div class="row">
          <span style="float:left">{{product.PujaFeatures}}</span>
          <span class="text-right">Rs. <b>{{product.PujaPassPrice}}</b></span>
        </div> -->
        
        <div class="row spacing">&nbsp;</div>
      
      
    </div>    
  </ion-content>
  <!-- <ion-footer-bar align-title="center" class="bar-energized" ng-click="openContact()">    
    <h1 class="pujaFooter-title bannerText">Buy 24 Puja passes 4 admit @ Rs. 999.00</h1> -->
    <!-- <div class="buttons">
      <button class="button button-positive buyPass" ng-click="openContact()">Buy Pass</button>
    </div>   -->
  <!-- </ion-footer-bar> -->
  </ion-view>
