<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view hide-nav-bar="true">
  
  <!-- 
    #IMPLEMENTATION-DETAIL
    We are using custom classes in "scss/scaffolding.scss"
  -->
  <ion-content class="landing">
    <!-- <ion-slide-box auto-play="true" does-continue="true">
      <ion-slide> -->
        <div class="box landingBg" style="display:flex">
         
       </div>
       
      
    <div class="row" style="background-color:#ecc0ff;padding:0">        
        <div class="col col-50" style="padding:3px">
            <button class="button button-positive button-medium button-block" style="margin:0" ui-sref="login">Log In</button>        
        </div>
        <div class="col col-50" style="padding:3px">
          <button class="button button-positive button-medium button-block" style="margin:0" ui-sref="signup">Register</button>        
        </div>
    </div>
  </ion-content>

  <!--
   We put a link to signup screen in footer bar.
  -->
  <!-- <ion-footer-bar ui-sref="app.signup" class="bar bar-positive bar-deepblue-bordertop pointer">
    <h1 class="title sans-pro-light">Signup here</h1>
  </ion-footer-bar> -->

</ion-view>
